<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
       <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
      <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>myBupa ANZ</h1>

  <h3>
    B2C integration demonstration
  </h3>
  <h2>
  Warning: This is a private system. Unauthorized access to or use of this system is strictly prohibited. By continuing, you acknowledge your awareness of and concurrence with the Acceptable Use Policy of BUPA. Unauthorized users may be subject to criminal prosecution under the law and are subject to disciplinary action under the company’s policies.
</h2>
   <%= link_to "Login or Register", test_case_path(@b2clogin), class: "btn btn-lg btn-primary" %>
   
 
</div>


<% end %>


