<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>B2C Bounce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= content_tag :div, id: :wrapper, class: local_assigns[:wrapper_class] do %>
      <header id="header">
      </header>


      <div id="main">
        <div class="inner">
          <%= yield %>
        </div>
      </div>

      <footer id="footer">
    
      </footer>
    <% end %>
  </body>
</html>
